.page {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    background-color: #2a2c2f;
    margin: 0 auto;
    padding-top: 34px;
    text-rendering: optimizeLegibility;
}

@media screen and (max-width: 700px) {
    .page {
        padding-top: 20px;
    }
  }